@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter:wght@100;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #B3AFA0;
    font-family: 'Inter', sans-serif;
    color: #1A1A1A;
}
h1{
    font-family: 'Henny Penny', cursive;
    font-size: 5rem;
}
.card-header{
    background-color: #204E4C;
}
.navbar-nav{
    margin: 0 10% 0 10%;
}
.card-body{
    background-color: #F7F2DE;
}
.navbar-expand-lg{
    background-color: #204E4C;
}
a{
    color: rgb(221, 214, 214);
}
a:hover{
    color: rgb(172, 165, 165);
}
.section{
    margin: 3% 10% 0 10%;
}
.marcador-menu{
    color: #af532c;
    font-size: 2rem;
}
fieldset{
    margin-bottom: 30px;
}
legend{
    font-weight: bold;
}
.form-control{
    text-align: right;
}
input{
    color: #204E4C !important;
    font-weight: bold !important;
}
input:disabled{
    color: #1A1A1A !important;
    font-weight: 400 !important;
    background-color: gray!important;
}
input::placeholder{
    font-size: 8pt;
    color:rgba(223, 80, 80, 0.349) !important;
}
button{
    background-color:#B3AFA0 ;
    border: 2px solid #af532c;
    border-radius: 30px;
    padding: 10px 30px;
    color: #af532c;
    font-weight: bold;
}
button:hover{
    background-color: #af532c;
    color: white;
}
.but2{
    padding: 5px 15px;
}
.but3{
    margin-right: 8px;
    background-color:#B3AFA0;
    border: 2px solid #8C221D;
    border-radius: 30px;
    padding: 10px 30px;
    color: #8C221D;
    font-weight: bold;
}
.but3:hover{
    background-color: #8C221D;
    color: white;
}
.msg{
    color: #204E4C;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}
.outro{
    margin-top: 200px;
}
footer{
    margin-top: 30px;
}
.but4{
    margin-top: 30px;
    width: 45%;
    height: 90px;
    font-size: 1.5rem;
}
#deposito{
    background-color:#B3AFA0;
    border: 2px solid #204E4C;
    color: #204E4C;
    font-weight: bold;
    font-weight: bold;
}
#deposito:hover{
    background-color: #204E4C;
    color: white;
}
.table .thead-dark{
    background-color:#204E4C!important ;
}

@media (max-width: 767px){
    #dog1{
        display: none;
    }
}